{% extends 'layouts/base.html.twig' %}

{% block title %}
  Clickbus - Currency convertor
{% endblock %}

{% block body %}
  <div id="app" class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1 class="text-center mb-4 mt-4">ClickBus - Currency convertor</h1>
      </div>
      <div class="col-12 col-md-7 col-lg-5">
        <convertor-component/>
      </div>
    </div>
  </div>
{% endblock %}