{% extends 'layouts/base.html.twig' %}

{% block title %}
  Clickbus - Currency history
{% endblock %}

{% block body %}
  <div id="app" class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-12">
        <conversions-component/>
      </div>
    </div>
  </div>
{% endblock %}
